.btn {
  transition: all 0.3s;
}

.btn-default {
  @include button-style();
}

.btn-primary {
  @include button-style($brand-primary, $white);
}
.btn-dark {
  color: $white;
}
.btn-success {
  @include button-style($brand-success, $white);
}
.btn-info {
  @include button-style($brand-info, $white);
}
.btn-warning {
  @include button-style($brand-warning, $white);
}

