// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
form .gform_body {

  .hide-label label {
    @extend .sr-only;
  }

  //display: flex;
  //justify-content: center;

  .gform_wrapper {
    margin-top: 30px;
  }

  .gform_body {
    margin-right: 20px;
  }

  label {
    @extend .sr-only;
  }

  .gform_fields {
    width: 100%;
    li {
      width: 100%;
    }
  }

  // global
  input[type],
  textarea {
    box-shadow: none;
    font-family: $input-font-family;

    &::-webkit-input-placeholder {
      color: $input-color-placeholder;
      font-family: $input-placeholder-font;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $input-color-placeholder;
      font-family: $input-placeholder-font;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: $input-color-placeholder;
      font-family: $input-placeholder-font;
    }
    &:-ms-input-placeholder {
      color: $input-color-placeholder;
      font-family: $input-placeholder-font;
    }
    &:focus {
      box-shadow: none;
      &::-webkit-input-placeholder {
        color: $input-placeholder-color-focus;
        font-family: $input-placeholder-font;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $input-placeholder-color-focus;
        font-family: $input-placeholder-font;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
        color: $input-placeholder-color-focus;
        font-family: $input-placeholder-font;
      }
      &:-ms-input-placeholder {
        color: $input-placeholder-color-focus;
        font-family: $input-placeholder-font;
      }
    }
  }
  input[type] {
    border: 1px solid $input-border-bottom;
    &:focus {
      border-color: $brand-primary;
    }
  }
  // inputs
  textarea {
    border: 1px solid $input-border-bottom;
    &:focus {
      border-color: $brand-primary;
    }
  }
  .ginput_container_textarea {
    position: relative;
  }
  // text area
}

.form-modal {
  .gform_heading {
    margin-bottom: $paddingLarge;
    text-align: center;
  }
}


  .upload {

    position: relative;

    .ginput_container_fileupload {

      background: #fff;
      border: 1px solid $input-border-bottom;
      height: 34px;
      position: relative;

      &::after {
        content: "\f15b";
        font-family: FontAwesome;
        color: $white;
        text-align: center;
        vertical-align: middle;
        padding-top: 3px;
        opacity: 1;
        display: block;
        position: absolute;
        background: $brand-primary;
        background-size: 23px 18px;
        width: 50px;
        height: 33px;
        top: 0;
        right: 0;
        z-index: 1;
      }

      &.success {

        &::after {
          content: "\f00c";
          font-family: FontAwesome;
          background: $brand-success;
          background-size: 23px 18px;
        }
      }

      input[type="file"] {
        opacity: 0;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;

        &:hover {
          cursor: pointer;
        }
      }
    }

    label {
      position: absolute;
      top: 8px;
      left: 20px;
      z-index: 1;
      width: auto !important;
      height: auto !important;
      padding: 0;
      margin: 0;
      overflow: auto !important;
      clip: auto !important;
      color: $input-color-placeholder;
      font-family: $input-placeholder-font;
      font-weight: normal;
    }

    &.gfield_error {

      .ginput_preview {
        word-wrap: break-word !important;
      }

    }

  }
  // upload field

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  ul.gform_fields {

    margin-left: -5px;
    margin-right: -5px;

    .gfield {
      width: 100%;
      padding: 3px 6px;
      float: left;
      clear: none;
    }
    .gfield.half {
      width: 50%;
    }
    .gfield.third {
      width: 33.33333%;
    }

  }

} // 768+
