.modal-backdrop {
  background-color: $white !important;
  &.in {
    opacity: .9 !important;
  }
}

.modal {
  .modal-header,
  .modal-footer,
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-header {
    padding: 0 15px;
  }
  .modal-content {
    background: $white;
    box-shadow: 0 5px 15px rgba(0,0,0,.25);
  }
  button.close {
    font-size: 40px;
    text-shadow: none;
    color: $gray-darker;
    opacity: .9;
    &:hover {
      color: $brand-primary;
    }
  }
}
.video-modal {
  button.close {
    color: $gray;
  }
  .modal-dialog {
    max-width: 100%;
  }

  .modal-content {
    background: $black;
    video {
      max-width: 100%;
    }
    .modal-video-wrap {
      max-width: 100%;
      position: relative;
      margin: 0 auto;
    }
    .modal-video {
      max-width: 100%;
      background: $black;
    }
    .mejs-container {
      max-width: 100%;

      .mejs-controls .mejs-time-rail {

        .mejs-time-loaded {
          background: rgba($brand-primary, .35);
        }

        .mejs-time-current {
          background: $brand-primary;
        }
      }

    }
  }
}

.video-modal-open {
  .modal-backdrop {
    background-color: $black !important;
    &.in {
      opacity: .8 !important;
    }
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {
  .form-trigger {
    padding-bottom: $paddingLarge;
  }
} // 768+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .video-modal {
    .modal-content {
      .mejs-container {
        max-width: 1170px;
        max-height: 658px;
      }
    }
  }

} // 1200+


