/* Social Media */
.social-nav {
  li {

    a {

      &::before {
        display: inline-block;
        font-family: FontAwesome;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f0c0';
      }
    }
    // end a
  }
  // end li

}

// end social
// networks
.social-nav li a[href*="facebook.com"]::before {
  content: '\f09a';
}

.social-nav li a[href*="twitter.com"]::before {
  content: '\f099';
}

.social-nav li a[href*="dribbble.com"]::before {
  content: '\f17d';
}

.social-nav li a[href*="plus.google.com"]::before {
  content: '\f0d5';
}

.social-nav li a[href*="pinterest.com"]::before {
  content: '\f231';
}

.social-nav li a[href*="github.com"]::before {
  content: '\f09b';
}

.social-nav li a[href*="tumblr.com"]::before {
  content: '\f174';
}

.social-nav li a[href*="youtube.com"]::before {
  content: '\f166';
}

.social-nav li a[href*="flickr.com"]::before {
  content: '\f16e';
}

.social-nav li a[href*="vimeo.com"]::before {
  content: '\f27d';
}

.social-nav li a[href*="instagram.com"]::before {
  content: '\f16d';
}

.social-nav li a[href*="linkedin.com"]::before {
  content: '\f0e1';
}

.social-nav li a[href*="codepen"]::before {
  content: '\f1cb';
}

.social-nav li a[href*="wordpress.org"]::before {
  content: '\f19a';
}

.social-nav li a[href*="feedburner.com"]::before {
  content: '\f143';
}

/* End Social Media */

/* Share Buttons */
.entry-share {

  border-top: 1px solid $gray-light;
  padding-top: 20px;

  h3 {
    margin-bottom: 0;
    margin-top: 0;
    &::after {
      @include heading-accent(10px);
      margin-left: 0;
    }
  }

  ul.entry-share-btns {
    margin-top: $paddingLarge;
    padding: 0;
    height: 52px;
    background: darken($brand-primary, 5%);
    display: inline-block;
    li {
      background: $brand-primary;
      width: 52px;
      height: 52px;
      vertical-align: top;
      &::before {
        display: none !important;
      }
      + li {
        margin-top: 0 !important;
      }
    }
    a {
      color: $white;
      font-size: 28px;
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      &:hover {
        color: darken($brand-primary, 15%);
        text-decoration: none;
      }
      .fa {
        line-height: 50px;
      }
    }
  }
}
