body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// account for WP admin bar and fixed nav on front
body.admin-bar {
  header.navbar-fixed-top {
    top: $wpAdminBarMobileHeight;
  }
  @media(min-width: 783px) {
    header.navbar-fixed-top {
      top: $wpAdminBarDesktopHeight;
    }
  }
}

// fixed nav admin bar

.wrap[role="document"] {
  margin-top: $navbar-small-height;
}

.home .wrap[role="document"] {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h4 {
  color: $darkGray;
}

strong {
  font-weight: $headings-font-weight;
}

p {
  margin-bottom: 20px;
}

.meta-body {
  p {
    margin-bottom: 0;
  }
}

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .wrap[role="document"] {
    margin-top: $navbar-height;
  }

}

// 992+
