// line accents, margin top separates the line from the heading, use margin on the
// heading to sep the whole thing from content.
@mixin heading-accent($margin-top: 25px, $color: $brand-primary, $width: 60px) {
  content: "";
  width: $width;
  height: 2px;
  background: $color;
  display: block;
  margin: $margin-top auto 0;
}

@mixin button-style($color: $gray-dark, $hoverColor: $white, $border: $color) {
  color: $color;
  background: transparent;
  border: 2px solid $color;
  &:hover,
  &:active {
    color: $hoverColor;
    border-color: $color;
    background: $color;
  }
}

@mixin home-module-padding($top: 50px, $right: 50px, $bottom: 50px, $left: 50px) {
  padding: $top $right $bottom $left;
}

@mixin smoothShadow($offsetX: 0, $offsetY: 3px, $blur: 6px, $spread: 1px, $color: rgba($black, .18) ) {
  box-shadow: $offsetX $offsetY $blur $spread $color;
}

@mixin burgerLine($width: 30px, $background: $brand-primary, $transition: .3s) {
  display: inline-block;
  width: $width;
  height: 2px;
  background: $background;
  border-radius: 0;
  transition: $transition;
}
