// for setup / sample page / can be deleted
.elements-setup {
  .color-swatches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .color-swatch {
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 10px;
    }
    .color-swatch-1 {
      background: $brand-primary;
    }
    .color-swatch-2 {
      background: $black;
      color: $white;
    }
    .color-swatch-3 {
      background: $white;
      border: 1px solid $black;
    }
    .color-swatch-4 {
      background: $gray-light;
    }
    .color-swatch-5 {
      background: $gray-dark;
    }
  }
  .section-reverse {
    padding: 25px;
    background: $black;
  }
}
// end sample page - delete when done
