.module-home-culture {

  background: $black;
  color: $white;
  text-align: center;
  @include home-module-padding($left: 0, $right: 0);

  h2 {
    &::after {
      @include heading-accent();
    }
  }
  .module-copy,
  footer {
    margin-bottom: $paddingLarge;
  }

  .social {
    display: block;
    color: $white;
    text-transform: uppercase;
    margin-top: ($paddingLarge/2);
    transition: all .2s;
    .fa {
      vertical-align: sub;
      margin-right: 5px;
    }
    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  #simple-instagram-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .simple-instagram-list {
    @extend .row;
    @extend .list-unstyled;
    li {
      @extend .col-xs-6;
      padding: 5px;
      position: relative;
      img {
        transition: opacity .25s ease-in-out;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateX(0);
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        z-index: 2;
        &:hover img {
          opacity: .5;
        }
        img {
          position: relative;
          z-index: 2;
        }
      }
      // end a
    }
    // end li
  }
  // end simple instagram
}
// end home culture

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .module-home-culture {
    @include home-module-padding($left: 0, $right: 0);
    h2 {
      &::after {
        margin-left: 0;
        margin-right: 0;
      }
    }
    // h2
    header,
    .module-copy,
    footer {
      text-align: left;
    }
    a.social {
      display: inline-block;
      margin-left: $paddingLarge;
    }
  }
  // end home culture at 768
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .module-home-culture {

    .simple-instagram-list {
      padding-left: 40px;
    }

  } // end culture at 992
} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .module-home-culture {

    .simple-instagram-list {
      padding-left: 80px;
    }

  } // end home culture at 1200

} // 1200+
