/****** Block Quotes (base) ******/
.testimonial-container {
  margin-top: $paddingLarge;
  margin-bottom: $paddingLarge;
  padding-top: ($paddingLarge * 2);
  padding-bottom: ($paddingLarge * 2);
}
.single-projects .testimonial-container {
  margin-bottom: 0;
}

figure.testimonial {
  blockquote {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    &::before,
    &::after {
      font-family: $font-family-base;
      color: $brand-primary;
    }
    &::before {
      content: "\201c";
    }
    &::after {
      content: "\201d";
    }
  }
  footer {
    text-align: center;
    margin-top: 15px;
  }
  cite {
    text-align: center;
    &::before {
      content: "\2013";
      color: $brand-primary;
    }
  }
}

.bg-red figure.testimonial {
  blockquote,
  cite {
    color: $white;
    &:before,
    &:after {
      color: $black;
    }
  }
}
