.module-home-insights {

  @include home-module-padding($left: 15px, $right: 15px);
  overflow-x: hidden;
  text-align: center;

  h2 {
    margin-bottom: $paddingLarge;
    &::after {
      @include heading-accent();
    }
  }

  .card-outer {
    max-width: 420px;
    margin: 0 auto;
    + .card-outer {
      margin-top: $paddingLarge;
    }
  }

  .module-content {
    margin-bottom: $paddingLarge;
  }

}
// insights

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .module-home-insights {
    .card-outer {

      max-width: 100%;

      + .card-outer {
        margin-top: 0;
      }
    }
  }

} // 768+

/******************************************************************************
========================> 1200 and below
*******************************************************************************/

@media(max-width: $screen-lg) {
  // do not want the container to do it's job until we hit the 1200 breakpoint
  // so that our lovely carousel has room to breathe/
  .module-home-insights {
    .container {
      width: 100%;
      padding: 0;
    }
  }
} // 1200+
