.module-home-about {

  text-align: center;
  @include home-module-padding($left: 0, $right: 0);

  h2 {
    &::after {
      @include heading-accent();
    }
  }
  p,
  ul {
    margin-bottom: $paddingLarge;
  }
  li + li {
    margin-top: 15px;
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .module-home-about {

    .module-copy {
      text-align: left;
      ul {
        text-align: left;
        columns: 300px 2;
        padding-right: 15px;
        li {
          &::before {
            content: "\f111";
            font-family: FontAwesome;
            font-size: .3em;
            display: inline-block;
            vertical-align: middle;
            color: $brand-primary;
            margin-right: 1em;
          }
        }
      }
    }
  }
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .module-home-about {
    .module-copy {
      text-align: left;
      ul {
        columns: 200px 2;
      }
    }
  }

} // 992+
