/**********************************
=======> Page Loader
***********************************/

// @thanks - Casey Zumwalt
// @see http://codepen.io/zumwalt/pen/eHsAd
// forked http://codepen.io/smutek/pen/dOreRW
.no-js .loading {
  display: none;
}

.loading {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader {
  border-radius: 50px;
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  letter-spacing: 0.05em;

  svg {
    width: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -18px;
    opacity: .5;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#cd3327, 0.2);
    border-radius: 50px;
    opacity: 0;
  }

  &:before {
    transform: scale(1);
    animation: pulse 2s infinite linear;
  }

  &:after {
    animation: pulse 2s 1s infinite linear;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
