.module-home-mission {

  text-align: center;
  @include home-module-padding($left: 0, $right: 0);

  h2 {
    &::after {
      @include heading-accent();
    }
  }

  footer {
    margin-top: $paddingLarge;
  }
}

/******************************************************************************
========================> 480+
*******************************************************************************/

@media(min-width: $screen-xs) {

  .module-home-mission {
    @include home-module-padding();
  }

} // 480+

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .module-home-mission {
    @include home-module-padding($left: 0, $right: 0);
  }
} // 768+
