/**********************************
=======> Utility Variables
***********************************/

// Defining these here instead of the variables style sheet so that
// they land further down the cascade and aren't buried in the main
// vars stylesheet. It seems reasonable right now.
.module {
  h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
}
