.module-home-contact {

  color: $white;
  background: $brand-primary;
  text-align: center;
  @include home-module-padding($left: 0, $right: 0);

  h2 {
    font-weight: 100;
    line-height: normal;
    margin-bottom: $paddingLarge;
  }

  .btn {
    border-color: $white;
    color: $white;
    &:hover {
      background: $white;
      color: $brand-primary;
    }
  }

}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .module-home-contact {

  }
} // 768+
