.photo-gallery {
  // About the layout - -
  // The "gutter" is actually padding around each individual image container.
  // The padding amount is half of the desired gutter size. For example, we want a 16 pixel
  // gutter between each image, so we give each image 8 pixels of padding. When images
  // are set edge to edge (8px + 8px = 16px) we get 16px gutter.
  // The entire gallery is then pulled back with negative margin, by half of the amount of the gutter in order
  // to line the gallery container up with the grid.
  //
  // set the gutter size for the gallery here. The number should divide evenly by 2.
  $gutter: 16px;
  overflow-x: hidden;

  h2 {
    margin: ($paddingLarge*2) 0 $paddingLarge;
    text-align: center;
    &:after {
      @include heading-accent();
    }
  }
  .gallery-description {
    margin: $paddingLarge auto;
    text-align: center;
    max-width: 768px;
  }

  ul.gallery {
    // pull the container out to the edge of the grid
    margin-left: -($gutter/2);
    margin-right: -($gutter/2);
  }
  // sets the size of the images
  .gallery-sizer,
  .gallery-image {
    width: 50%;
  }
  .thumbnail {
    // here's the gutter
    padding: ($gutter/2);
    margin: 0;
    border: none;
    position: relative;
    &:hover {
      .caption {
        opacity: 1;
      }
    }
  }
  // end thumbnail
  .caption {
    position: absolute;
    top: $gutter;
    left: $gutter;
    padding: $gutter;
    background: rgba($black, .5);
    // width and height of the caption overlay is 100% - twice the gutter size.
    // trust me.
    width: calc(100% - #{($gutter * 2)});
    height: calc(100% - #{($gutter * 2)});
    opacity: 0;
    transition: opacity .25s ease-in-out;
    p {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
      font-size: $font-size-large;
      font-weight: $bold-font-weight;
    }
    // end paragraph
  }
  // end caption
}
// end photo gallery

@media(max-width: $screen-xs - 1) {
  .photo-gallery {
      margin-left: -15px;
      margin-right: -15px;
    ul.gallery {
      margin-bottom: 0;
    }
    .thumbnail {
      padding: 0;
    }
    .caption p {
      font-size: $font-size-small;
      line-height: 1.125;
    }
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .photo-gallery {
    .gallery-sizer,
    .gallery-image {
      width: 33.33333%;
    }
  }
  // end photo gallery at 768
}
// 768+

/******************************************************************************
========================> 992+
*******************************************************************************/
@media(min-width: $screen-md) {
  .photo-gallery {
    .gallery-sizer,
    .gallery-image {
      width: 33.33333%;
    }
  }
  // end photo gallery at 992
}
// 992+
/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .photo-gallery {
    .gallery-sizer,
    .gallery-image {
      width: 33.33333%;
    }
  }
  // end photo gallery at 1200
}
// 1200+
