.module-video-hero {
  // navbar is sticky, so the video runs behind the header.
  // to even the height back out add the height of the navbar
  // ($navbar-height) to the desired min-height of the module
  //
  // Even the placement of the text out by adding padding top in
  // the same amount as the navbar height

  // video size - 1140 x 641

  position: relative;
  overflow: hidden;
  background-size: cover !important;
  background-position: center !important;
  min-height: ($navbar-height + 300px);
  text-align: center;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($black, .3);
    z-index: 1;
    top: 0;
    left: 0;
  }

  .container {
    padding-top: $navbar-height;
    margin: 0;
  }

  h2 {
    color: $white;
    line-height: normal;
    font-size: $font-size-h1;
  }
  // todo-jimmy Tie this size in globally for all hero boxes

  .container {
    position: relative;
    z-index: 2;
  }

  .play-btn {
    width: 66px;
    height: 66px;
    display: block;
    justify-content: center;
    background: $brand-primary;
    border-radius: 50%;
    position: relative;
    margin: 15px auto 0;
    @include transition(background, .2s);
    i {
      vertical-align: middle;
      position: absolute;
      top: 50%;
      margin-top: -16px;
      left: 50%;
      margin-left: -10px;
    }
    &:hover {
      background: darken($brand-primary, 5%);
    }
  }

  .client-info {

    margin: 0 auto;

    img {
      max-width: 350px;
      max-height: 200px;
      width: auto;
      height: auto;
    }

  }

  .video-wrap {
    display: inline-block;
    position: absolute;
    top: 0;
    // center in IE 11
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 432px;
  }
  .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  video {
    width: auto;
    max-width: unset;
    height: 432px;
  }
}


@media(max-width: $screen-xs-max) {

  .module-video-hero {
    .video-wrap,
    .video-container,
    video {
      display: none;
    }
  }
}

/******************************************************************************
========================> 480+
*******************************************************************************/

@media(min-width: $screen-xs) {
  .module-video-hero {
    // fixes IE 11 vertical centering.
    // IE11 needs a height declaration, so
    // we give it what it wants, then immediately
    // override it with min-height. This way IE11 is
    // happy throughout the rest of our breakpoints
    // and we can still use min-height
    // @see http://stackoverflow.com/a/25386261
    height: 400px;
    min-height: 432px;
  } // video hero 768
} // 480+

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .module-video-hero {
    min-height: 558px;
    padding-bottom: 0;

    .video-wrap,
    video {
      min-height: 558px;
    }
  } // video hero 768
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .module-video-hero {
    min-height: 675px;

    .video-wrap,
    video {
      min-height: 675px;
    }
  } // video hero 992
} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .module-video-hero {
    min-height: 700px;
    .video-wrap,
    video {
      min-height: 780px;
    }
  }
  // video hero 1200
}
// 1200+

/******************************************************************************
========================> 1400px
*******************************************************************************/

@media(min-width: 1400px) {

  .module-video-hero {
    min-height: 780px;

    .video-wrap,
    video {
      min-height: 1080px;
    }
  }
  // video hero 1400
}
// 1400px
