.module-home-projects {
  // layout
  //overflow-x: hidden;
  .container-fluid {
   // padding-left: 0;
    //padding-right: 0;
  }
  .project-row {
    display: flex;
    flex-wrap: wrap;
  }
  // covers
  .project-cover {
    position: relative;
    padding: 0;
  }
  .project-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  .project-reveal {
    opacity: 0;
    background: rgba($white, .86);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include transition(opacity, .5s);
    &:hover {
      opacity: 1;
      text-decoration: none;
      color: $black;
    }
    footer p {
      color: $brand-primary;
    }
  }
  // end project reveal
  .project-thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .client-info {
    img {
      max-width: 75%;
      max-height: 95px;
    }
    &::after {
      @include heading-accent(10px);
    }
  }
  // end client info
  .project-info {
    margin: 0 15px;
    h3 {
      margin-top: 15px;
    }
    li {
      padding: 0 10px;
      line-height: 1.125;
      font-size: $font-size-small;
      + li {
        border-left: 2px solid $brand-primary;
        padding-left: 10px;
      }
    } // end li
    footer {
      margin: 15px 0;
      .more {
        font-size: $font-size-small;
      }
    }
    // end project info footer
  }
  // end project info
}
// end home projects

/******************************************************************************
========================> 480+
*******************************************************************************/

@media(max-width: ($screen-xs - 1)) {
  .module-home-projects {
    .col-xs-6 {
      width: 100%;
    }
  }
}
// 480+


/******************************************************************************
========================> 1400px
*******************************************************************************/

@media(min-width: 1600px) {

  .project-cover {
    width: 16.6666666667%;
  }
}
// 1400px
