.module-banner {
  text-align: center;
  padding: ($paddingLarge * 2) 0;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 200px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($black, .3);
    z-index: 1;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
    z-index: 2;
    color: $white;
    // IE 11 centering
    margin: 0;
  }

  .btn {
    color: $white;
  }

  p {
    font-size: $font-size-base;
  }

  h2 {
    margin-bottom: $paddingLarge;
    &::after {
      @include heading-accent();
    }
  }
}
