.single-careers {

  .wrap.container {
    max-width: 970px;
  }

  h1.entry-title {
    padding-top: ($paddingLarge/2);
    margin-bottom: $paddingLarge;
    font-size: $font-size-h2;

    small {
      display: block;
      color: $black;
      margin: ($paddingLarge /2) 0 $paddingLarge;
    }

    &::after {
      @include heading-accent();
      margin-left: 0;
    }
  }
  // end entry title
  .type-careers {
    position: relative;
    padding-bottom: 200px;
    .entry-content {
      position: static;
    }
    ul {
      padding-left: 0;
      margin-bottom: $paddingLarge;
      list-style-type: none;
      li {
        position: relative;
        padding-left: 12px;
        &::before {
          content: "\2022";
          display: block;
          color: $brand-primary;
          margin-right: 5px;
          position: absolute;
          top: 0;
          left: 0;
        }
        + li {
          margin-top: 10px;
        }
      }
      // end li
    }
    // end ul
    h2 {
      font-size: $font-size-h3;
      margin-bottom: ($paddingLarge / 2);
    }

    .team-members,
    .back {
      margin-bottom: 30px;
    }

    .team-members {
      // set icon size
      $iconSize: 55px;
      // spacing applied to each side
      $offset: 10px;
      /////////////
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: -$offset;
      margin-right: -$offset;
      li {
        display: inline-block;
        // 55px + (10px * 2) = 75px
         width: ($iconSize + ($offset * 2));
        &::before {
          display: none;
        }
        + li {
          margin-top: 0;
        }
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          // padding the outside container (75px) by the offset (10px) gives us
          // an icon size of 55px
          padding: $offset;
        }
        // end a
      }
      // end li
    }
    // end team members
    .entry-footer {
      a.back {
        color: lighten($gray, 25%);
        display: inline-block;
        font-size: $font-size-small;
        .fa {
          margin-right: 15px;
          color: $brand-primary;
          vertical-align: sub;
        }
      }
    }
  }
  // end type careers
}
// end single careers

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {
  .single-careers {
    .type-careers {
      padding-bottom: ($paddingLarge * 4);
    }

    .entry-content {
      padding-bottom: 0;
      position: relative;
      .entry-footer {
        position: relative;
        padding-top: 50px;
      }
    }
    h2 {
      margin-top: 0;
    }
  }
  // end single careers
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .single-careers {
    .entry-content {
      padding-right: 50px;
    }
  }

} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .single-careers {
    .entry-content {
      padding-right: 75px;
    }
  }

} // 1200+
