.post-type-archive-careers {
  .wrap[role="document"] {
    margin-bottom: 60px;
  }

  .career-wrap {

    a {
      h2 {
        color: $black;

        small {
          display: block;
          color: $black;
          margin: ($paddingLarge /2) 0;
        }
      }
      &:hover {
        h2,
        h2 small {
          color: $brand-primary;

        }
          text-decoration: none;
      }
    }
  }
  // limit content width
  .type-careers,
  .careers-intro,
  .lower-copy {
    max-width: 768px;
    margin: 0 auto;
    padding: ($paddingLarge/2);
  }

  .lower-copy {
    h2 {
      text-align: center;
      margin-bottom: 25px;
      &::after {
        @include heading-accent();
      }
    }
  }
}
