.content-info {
  background: $black;
  color: $white;
  text-align: center;

  .footer-content {
    padding: 20px;
  }

  h3 {
    font-size: 18px;
    text-transform: uppercase;
  }

  a {
    color: $white;
  }

  .footer-sections {
    padding: $paddingLarge 0;

    + .footer-sections {
      border-top: 1px solid $darkGray;
    }
  }

  /**********************************
  =======> Logo Section
  ***********************************/

  .footer-logo-section {
    img {
      width: 70px;
      max-width: 100%;
    }
  }
  .footer-menu-section {
    li {
      display: inline-block;
    }
    a {
      color: $gray-dark;
    }
  }

  /**********************************
  =======> Footer Menu Section
  ***********************************/

  .footer-menu-section {
    a {
      text-transform: uppercase;
      &:hover,
      &:active {
        background: transparent;
        color: $white;
      }
    }
  }

  /**********************************
  =======> Footer Info
  (social nav and get in touch)
  ***********************************/

  .footer-info-section {

    // I don't want 2 columns to kick in here until the
    @media (max-width: $screen-xs-max) {
      .col-xs-6 {
        width: 100%;
        float: none;
      }
    }

    .social-nav {
      li {
        display: inline-block;
      }
      a {
        padding: 10px;
        &::before {
          font-size: 35px;
        }
        &:hover {
          background: transparent;
        }
      }
    } // social nav
    .footer-contact {
      li {
        + li {
          margin-top: 10px;
        }
        &.email {
          margin-top: 0;
        }
      }
    }
  } // footer info section

  /**********************************
  =======> Connect Section
  (newsletter and google partner)
  ***********************************/
  .footer-connect-section {

    .widget {
      + .widget {
          padding-top: 50px;
      }
    }

    form {
      display: flex;
      justify-content: center;
    }

    .gform_wrapper {
      margin-top: 30px;
    }

    .gform_body {
      margin-right: 20px;
    }

    label {
      @extend .sr-only;
    }

    $input-color-placeholder: $gray-dark;
    $input-placeholder-color-focus: $white;

    input[type="email"] {
      border: none;
      border-bottom: 1px solid $brand-primary;
      color: $input-color-placeholder;
      font-family: $input-placeholder-font;

      &::-webkit-input-placeholder {
        color: $input-color-placeholder;
        font-family: $input-placeholder-font;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $input-color-placeholder;
        font-family: $input-placeholder-font;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
        color: $input-color-placeholder;
        font-family: $input-placeholder-font;
      }
      &:-ms-input-placeholder {
        color: $input-color-placeholder;
        font-family: $input-placeholder-font;
      }
      &:focus {
        box-shadow: none;
        border-bottom-color: $white;
        &::-webkit-input-placeholder {
          color: $input-placeholder-color-focus;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $input-placeholder-color-focus;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          color: $input-placeholder-color-focus;
        }
        &:-ms-input-placeholder {
          color: $input-placeholder-color-focus;
        }
      }
    } // email input
    input[type="submit"] {
      color: $white;
      border-width: 1px;
    }
  } // footer connect
} // footer

/******************************************************************************
========================> 480+
*******************************************************************************/

@media(min-width: $screen-xs) {

  .content-info {
    .footer-content {
      padding: 20px 50px;
    }
  }

} // 480+

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .content-info {
    .footer-content {
      padding: 20px 120px;
    }

    /**********************************
    =======> Footer Menu Section (768)
    ***********************************/

    .footer-menu-section {
      a {
        padding: 8px;
      }
    } // footer menu


  } // content info
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .content-info {

    text-align: left;

    .footer-content {
      padding: 20px;
    }

    .footer-sections {
      + .footer-sections {
        border-top: none;
      }
    }

    /**********************************
    =======> Footer Logo Section 992
    ***********************************/

    .footer-logo-section {
      img {
        padding-top: 24px;
      }
    }

    /**********************************
    =======> Footer Menu Section 992
    ***********************************/

    .footer-menu-section {
      nav {
        padding-top: 12px;
      }
      li {
        display: block;
      }
      a {
        padding: 8px 10px 8px 0;
      }
    }

    /**********************************
    =======> Footer connect section 992
    ***********************************/

    .footer-connect-section {
      form {
        justify-content: space-between;

        .gform_body {
          flex-grow: 1;
          min-width: 50%;
        }

      }
    }

  }

} // 992+
