$smallHeight: $navbar-small-height;
header.navbar {

  min-height: $smallHeight;
  background: rgba($black, .9);
  margin-bottom: 0;
  @include transition(all, .26s);

  .navbar-brand {

    padding: 21px 15px;
    height: $smallHeight;
    @include transition(all, .26s);

    img {
      width: 212px;
      width: 150px;
      max-width: 100%;
      height: auto;
    }
  }
  // navbar brand

  $buttonSize: 32px;
  $transition: .3s;

  // hamburger toggle
  .navbar-toggle {
    border: none;
    padding: 16px 8px 20px;
    transition: $transition;
    cursor: pointer;
    user-select: none;



    .lines {
      @include burgerLine($buttonSize, $brand-primary, $transition);
      position: relative;

      &::before,
      &::after {
        @include burgerLine($buttonSize, $brand-primary, $transition);
        position: absolute;
        left: 0;
        content: "";
        transform-origin: ($buttonSize/14) center;
      }
      &::before {
        top: ($buttonSize/4);
      }
      &::after {
        top: -($buttonSize/4)
      }
    }

    &.open .lines {

      background: transparent;

      &::before,
      &::after {
        transform-origin: 50% 50%;
        top: 0;
        width: $buttonSize;
      }

      &::before {
        transform: rotate3d(0,0,1,45deg);
      }
      &::after {
        transform: rotate3d(0,0,1,-45deg);
      }
    }

    margin-top: 0;
    margin-bottom: 0;
  }
  // navbar toggle

  // main nav
  nav {
    box-shadow: none;
    border: none;
    text-align: center;
    text-transform: uppercase;

    li {
      + li {
        &::before {
          content: "";
          width: 20px;
          height: 2px;
          background: $brand-primary;
          display: block;
          margin: 0 auto;
        }
      }
    }

    a {
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 18px;
    }

  }

}
// header .navbar

/******************************************************************************
========================> 480+
*******************************************************************************/

@media(min-width: $screen-xs) {
} // 480+

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  header.navbar {

  }

} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  header.navbar {

    min-height: $navbar-height;
    @include transition(all, .26s);

    .navbar-brand {
      padding: 30.5px 15px;
      img {
        width: 300px;
      }
    }
    // main nav
    nav {
      padding-top: 23.5px;
      padding-bottom: 23.5px;
      li {
        + li::before {
          width: 2px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 20px;
        }
      }
    }
    // end nav
    &.top-nav-collapse {
      min-height: $smallHeight;

      .navbar-brand {

        padding: 21px 15px;
        height: $smallHeight;

        img {
          width: 212px;
          width: 150px;
          max-width: 100%;
          height: auto;
        }
      }
      nav {
        padding: 4px 0;
      }
    }
  }
  // end header navbar at 992
} // 992+
