/**********************************
=======> Page Headers
***********************************/
// Note - the page headers are set up to accommodate headings that do not match
// page titles. For example, About displays "Company and Capabilities" as the
// page header. To facilitate this there are some ACF options for title override
// in the admin. Activating this will still output the title, but will adjust the
// markup from: <h1>About</h1> to:
// <h1><span class="sr-only">About:</span> <small>Some Alternate Title</small></h1>
// The markup is valid HTML5, and the intent is to appease design while providing
// a semantically correct, relevant  title for screen readers and search bots.

$capabilityBorderColor: darken($gray-light, 10%);

.page-header {

  border-bottom: none;
  text-align: center;

  h1 {
    &::after {
      @include heading-accent();
    }
  }

}

/**********************************
=======> About Page
***********************************/

.page-template-template-about {
  .description {
    max-width: $container-sm;
    margin: 0 auto 44px;
  }
}

.capabilities {

  ul {
    border-left:1px solid $capabilityBorderColor;
    border-top:1px solid $capabilityBorderColor;
  }
  li {
    border-right: 1px solid $capabilityBorderColor;
    border-bottom: 1px solid $capabilityBorderColor;
    padding: 25px;
    img {
      max-width: 93px;
    }
  }
  .capability {
    h2 {
      margin-bottom: 25px;
      &::after {
        @include heading-accent();
        margin-left: 0;
      }
    }
  }
  .message-block {
    background: $brand-primary;
    border-right-color: $brand-primary;
    border-bottom-color: $brand-primary;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: $white;
      margin: 0;
    }
  }
} // Capabilities
// About Page

/**********************************
=======> Contact Page
***********************************/
.page-template-template-contact {
  h1 {
    text-align: left;
    &::after {
      display: none;
    }
  }
  // tweak font size, including small tag (if used)
  h1,
  h1 .h1 {
    font-size: $font-size-h2;
  }
  .entry-content {
    font-size: $font-size-large;
  }
  .contact-info {
    margin: 25px 0;
  }
  .map {
    margin-left: -15px;
    margin-right: -15px;
  }
  .acf-map {
    margin-bottom: 0;
  }
}
// end contact page

/******************************************************************************
========================> 480+
*******************************************************************************/

@media(min-width: $screen-xs) {

  /**********************************
  =======> About Page 480 +
  ***********************************/

  .capabilities {
    li {
      padding: 50px;
    }
  } // capabilities

} // 480+

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  /**********************************
  =======> About Page 768 +
  ***********************************/

  .capabilities {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    li {
      width: 50%;
      padding: 25px;
      &:last-child {
        flex-grow: 1;
      }
    }
  }

  /**********************************
  =======> Contact Page 768+
  ***********************************/

  .page-template-template-contact {
    .content-wrap {
      width: $container-sm;
      margin: 0 auto;
    }
  }

} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  /**********************************
  =======> About Page 992 +
  ***********************************/

  .capabilities {
  }

  .page-template-template-contact {

    .contact-wrap {
      display: flex;
      justify-content: flex-start;
    }
    .content-wrap {
      order: 2;
      width: ($container-md / 2);
      margin-left: 0;
    }
    .map-wrap {
      order: 1;
      overflow-y: hidden;
      padding-right: 30px;
    }
    .locations-map,
    .map {
      height: 100%;
      margin-top: 0;
    }
  }
  // end contact page
} // 992+

/**********************************
=======> Contact page
***********************************/


/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  /**********************************
  =======> About Page 1200 +
  ***********************************/

  .capabilities {
    ul {}
    li {
      width: 33.33%;
    }
  }

  /**********************************
  =======> Contact Page
  ***********************************/

  .page-template-template-contact {
    .content-wrap {
      width: ($container-lg / 2);
    }
  }

} // 1200+

/******************************************************************************
========================> 1500+
*******************************************************************************/

@media(min-width: $screen-xl) {

  .capabilities {
    li {
      padding: 50px;
    }
  }

} // 1200+
