.infinite-load .main {
  // makes room for absolute positioning the post loader
  padding-bottom: ($paddingLarge * 3);
}

.blog {
  .main {
    position: relative;
  }

  .new-posts {
    display: inline-block;
  }

  .insights-card {
    margin-bottom: $paddingLarge;
  }
}

// load more button
.load-more,
.no-more {
  display: none;
  padding: ($paddingLarge + 20px) 0 20px;
  position: absolute;
  bottom: ($paddingLarge * 1.25);
  left: 0;
  width: 100%;
  text-align: center;
  button {
    display: inline-block;
    @extend .btn;
  }
}
.load-more button {
  @extend .btn-primary;
}
.no-more button {
  @extend .btn-default;
  &:hover {
    color: #95989a;
    border: 2px solid #95989a;
  }
}

/**********************************
=======> Single Post / Global
***********************************/
// global - hopefully these will play nicely with news as well

.post,
.news {
  .entry-title,
  .entry-meta,
  .entry-content {
    margin: ($paddingLarge) 0;
  }

  .entry-title {
    font-size: $font-size-h2;
    text-align: center;
  }

  .entry-meta {
    text-align: center;
    .profile-image {
      max-width: 74px;
      margin: 0 auto ($paddingLarge/2);
    }
    .byline {
      color: lighten($gray, 10%);
      font-size: $font-size-small;
      font-style: italic;
    }
    time {
      color: $brand-primary;
      font-size: $font-size-small;
      margin-top: (($paddingLarge/2)-5px);
      display: block;
    }
  }

  .entry-content {
    // large text for the first strong tag inside of the first p tag inside entry content
    // (ie. users wraps first paragraph with strong for large lead text)
    p:first-of-type strong:first-of-type {
      font-size: $font-size-large;
    }
  }

  .prev-next-posts {
    @include clearfix;
    margin-bottom: ($paddingLarge * 2);

    h2, h3 {
      font-size: $font-size-h3;
    }

    h2 {
      text-align: center;
      margin: $paddingLarge 0 ($paddingLarge * 2);
      font-size: $font-size-h3;
    }

    .entry-title,
    .entry-meta {
      margin: 15px 0;
    }
    .entry-title {
      text-align: left;
    }
    .next-post {
      margin-top: $paddingLarge;
    }
  }

}  // post

.single-post {
  .wrap.container {
    max-width: 970px;
  }

  .main {
    padding-top: $paddingLarge;
  }
  .entry-header {
    time {
      &::after {
        @include heading-accent(($paddingLarge/2));
      }
    }
  }
}

/**********************************
=======> News Archive
***********************************/

.post-type-archive-news {

  .news-card {
    padding-bottom: 40px;
    margin-bottom: 30px;
  }


} // news archive

/**********************************
=======> News Single
***********************************/
.single-news {

  .main {
    padding-top: $paddingLarge;
  }

  .entry-header,
  .entry-content {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {
  .post {
    .prev-next-posts {
      margin-left: -15px;
      margin-right: -15px;
      .next-post {
        margin-top: 0;
      }
    }
  }
}  // 768+



