
// these little "cards" are used on both the home page carousel and the
// insights page posts listing. I set this pae up in an attempt to "globalize"
// some of the similar styles. This file comes first in the cascade and, ideally
// will contain most of the styles for these cards.
// Styles specific to individual pages appear further down the cascade and should
// only contain page specific styles. Let's see how long this lasts....

/**********************************
=======> Global
***********************************/

.card {

  padding-bottom: 25px;
  text-align: left;

  /****** header layout ******/
  // controls flex direction of items
  header {
    display: flex;
    flex-direction: column;

    .entry-meta {
      order: 1;
    }
    .title-link {
      order: 2;
      .entry-title {
        text-align: left;
      }
    }
  } // header

  /****** thumbnail image ******/
  .thumbnail-image {

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: $black;

      img {
        opacity: 1;
        -webkit-backface-visibility: hidden;
        @include transition(opacity, .3s);
      }
      &:hover {
        img {
          opacity: .7;
        }
      }
      // end hover
    }
    //end a
  }
  // end thumbnail image

  /****** header styles ******/
  .card-header {
    a {
      color: $black;
      @include transition(all, .3s);
      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
    h2,
    h3 {
      font-size: $font-size-h3;
    }
  }

  /****** meta styles ******/
  .entry-meta {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    .thumbnail-image {
      max-width: 40px;
      max-height: 40px;
      // IE 11 fix
      width: 100%;
      margin-right: 10px;
    }
    .meta-body {
      flex: 1;
      min-width: 50%;
      text-align: left;
    }
    p.byline,
    a,
    time {
      font-size: 12px;
    }
    a,
    p {
      color: $gray;
      margin-bottom: 0;
    }
    time {
      color: $brand-primary;
      margin-top: 0;
    }
  }
  // entry meta
  .entry-summary,
  .read-more a {
    font-size: $font-size-small;
  }

  .read-more a {
    color: $black;
    font-weight: $bold-font-weight;
    &::after {
      @include heading-accent(5px);
      margin-left: 0;
    }
    &:hover,
    &:active {
      text-decoration: none;
      &::after {
        background: darken($brand-primary, 10%);
      }
    }
  }
}

/**********************************
=======> Insights
***********************************/

.insights-card {
  box-shadow: 0 3px 6px 1px rgba($black, .18);
  position: relative;
  padding-bottom: 40px;

  .card-header {
    padding: 25px 25px 10px;
    .entry-title,
    .entry-meta {
      margin: 10px 0;
    }
  }
  .entry-summary {
    padding: 0 25px 50px;
  }

  footer {
    padding: 0 25px 25px;
  }

  .read-more {
    position: absolute;
    bottom: 0;
  }

}

/**********************************
=======> News
***********************************/

.news-card {
  border: 1px solid $brand-primary;
  padding: ($paddingLarge/2);
  + .news-card {
    margin-top: $paddingLarge;
  }
  .card-header {
    display: flex;
    flex-direction: column;
    h2 {
      order: 2;
    }
    .entry-meta {
      order: 1;
    }
  }

  h2 {
    font-size: $font-size-h3;
    margin-top: 10px;
  }

  .entry-meta {
    margin-bottom: 10px;
  }

  time {
    font-size: 12px;
    color: $brand-primary;
  }
}

/******************************************************************************
========================> 480+
*******************************************************************************/

@media(min-width: $screen-xs) {

  /**********************************
  =======> News Archive 480 +
  ***********************************/
  .post-type-archive-news {

    .news-card {
      padding: $paddingLarge;
    }

  } // news archive @480

} // 480+

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .single-news .prev-next-posts .col-sm-6 {
    width: 100%;
    float: none;
  }
  .news-card {
    display: flex;
    padding: ($paddingLarge/2);
    justify-content: space-between;
    .featured-image {
      order: 2;
      width: 40%;
      max-width: 430px;
    }
    .card-content {
      order: 1;
      width: 60%;
      position: relative;
      padding-bottom: 40px;
    }
    .entry-meta {
      margin-top: 0;
    }
    .read-more {
      position: absolute;
      bottom: 0;
    }
  }

} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {
  // todo-jimmy Make sure the read more buttons are pinned to the bottom of the cards
  .blog {
    // layout for top card on first page
    .first .insights-card {
      display: flex;
      padding-bottom: 0;
      .featured-image {
        width: 66.6666666667%;
        order: 2;
        padding-left: 15px;
      }
      .card-content {
        width: 33.3333333333%;
        order: 1;
        padding-right: 15px;
      }
    } // first insights card @ 992
    .insights-card {

      .entry-title {
        font-size: $font-size-h3;
      }
      .entry-summary {
        p {
          font-size: 15px;
        }
      }
    }
  } // blog @ 992

  /**********************************
  =======> News Card @992
  ***********************************/

  .news-card {
    padding: $paddingLarge;
    .card-content {
      width: 50%;
    }
  } // end news card @992

} // 992+
