.page-template-template-team {

  /****** Hero ******/
  .module-video-hero {
    .container {
      padding-top: 15px;
    }
  }

  /****** Team lists ******/
  .team-listing {
    text-align: center;
    @include clearfix();
    h2 {
      margin: $paddingLarge 0;
      &::after {
        @include heading-accent();
      }
    }
  }

  /****** Team cards ******/
  .type-team {
    + .type-team {
      margin-top: ($paddingLarge * 1.5);
    }
    .entry-link {
      display: inline-block;
      .entry-title {
        color: $black;
        @include transition(all, .16s);
        small {
          display: block;
          color: $black;
          margin-top: 10px;
          @include transition(all, .16s);
        }
      } // entry title
      &:hover {
        .entry-title,
        .entry-title small {
          color: $brand-primary;
        }
        text-decoration: none;
      } // entry link hover
    } // entry link
    .thumbnail-image {
      max-width: 326px;
      margin: 0 auto;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          opacity: 0;
          width: 94%;
          left: 3%;
          height: 94%;
          top: 3%;
          display: block;
          position: absolute;
          background: rgba($white, .9) url("../images/more-info.svg") no-repeat center;
          background-size: 50px;
          z-index: 2;
          @include transition(opacity, .16s);
        }
        img {
          position: relative;
          z-index: 1;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  .testimonial-container {
    background: $black;
    color: $white;
    margin-bottom: 0;
  }

} // page template team / archive

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  /**********************************
  =======> Team Archive template (768+)
  ***********************************/
  .page-template-template-team {

    .team-listing {
    }

    /****** Team Cards ******/
    .type-team {
      margin-bottom: $paddingLarge;
      + .type-team {
        margin-top: 0;
      }
    }

  }
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

} // 1200+

/******************************************************************************
========================> 1520+
*******************************************************************************/

@media(min-width: $screen-xl) {

} // 1520+
