/**********************************
=======> Single team
***********************************/

$profileBGColor: #d6d8dd;

.single-team {

  /****** Header ******/

  // social icon is positioned relative to it's parent .container
  // element, just inside the .page-header. 44px padding bottom on
  // .page-header makes room for the icon to sit and ensures it will
  // stay puts the image scales.
  .page-header {
    margin: 0;
    padding-top: 44px;
    padding-bottom: 44px;
    .container {
      position: relative;
    }
  }
  /****** Title ******/
  .entry-title {
    margin: 0 0 $paddingLarge;
    small {
      display: block;
      margin-top: ($paddingLarge/2);
      color: $black;
      font-size: 50%;
      font-weight: 100;
    }
  }
  /****** Social Icon ******/
  .social-icon {
    position: absolute;
    bottom: -35px;
    left: 15px;
  }
  /****** Profile Image ******/
  .thumbnail-image {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    background: $profileBGColor;
    img {
      width: 480px;
      max-width: 100%;
    }
  }
  /****** Bio Section ******/
  .team-bio {
    &::after {
      content: "";
      width: 233px;
      height: 2px;
      background: $brand-primary;
      display: block;
      margin: 40px 0 25px;
    }
  }
  /****** Aside (fav things and nav) ******/
  aside {
    margin-top: ($paddingLarge/2);
  }
  h2.favorite-things {
    color: $brand-primary;
    font-size: $font-size-base;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .favorite-list {
    margin-bottom: 0;
    li {
      font-size: $font-size-small;
      + li {
        margin-top: 12px;
      }
    }
  }
  /****** Footer (team nav) ******/
  .team-nav {
    margin: ($paddingLarge * 1.5) auto;
    a {
      font-size: $font-size-small;
      color: $black;
      text-decoration: none;
      position: relative;
      &::before {
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid $brand-primary;
        border-radius: 50%;
        background-position: center !important;
        background-size: 50% auto !important;
        position: absolute;
        top: -5px;
      }
    }
    .previous {
      text-align: right;
      padding-right: 5px;
      a {
        padding-right: 40px;
        &::before {
          background: url("../images/arrow-left.svg") no-repeat;
          right: 0;
        }
      }
    } // previous
    .next {
      text-align: left;
      padding-left: 5px;
      a {
        padding-left: 40px;
        &::before {
          background: url("../images/arrow-right.svg") no-repeat;
          left: 0;
        }
      }
    } // next
    // ** Previous and Next on really small screens. (< 480) **
    // it's not safe to display these on one line till we get past
    // at least the 480 breakpoint. When the names break to 2 lines
    // it looks really bad.
    @media(max-width: ($screen-xs -1)) {
      // I try to use max width sparingly, when I do I find it easier
      // to keep it with the bit of code I'm applying it to.
      .previous,
      .next {
        float: none;
        display: inline-block;
        width: 100%;
        margin: 15px;
        text-align: left;
      }
      // This displays the arrow on the left for both items. It looked
      // kind of weird otherwise.
      .previous {
        padding-left: 5px;
        a {
          padding-left: 40px;
          &::before {
            background: url("../images/arrow-left.svg") no-repeat;
            left: 0;
          }
        }
      } // end previous on really small screens
    } // end team nav on really small screens
  } // end team nav
} // end single team

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {
  .single-team {
    /****** Header (768) ******/
    $headerHeight: 400px;
    .page-header {
      background: $profileBGColor;
      height: $headerHeight;
      overflow: hidden;
      margin-bottom: $paddingLarge;
      position: relative;
      padding-top: 0;
      .container {
        height: $headerHeight;
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        position: relative;
      }
    }
    /****** Header / Team Info ******/
    .team-info {
      width: 60%;
    }
    .entry-title,
    .social-icon {
      position: relative;
      bottom: auto;
      left: auto;
      z-index: 2;
      .fa-linkedin:before {
        font-size: 21px;
      }
    }
    .entry-title {
      &::before {
        content: "";
        width: 60px;
        height: 2px;
        background: $brand-primary;
        display: block;
        margin: 0 auto 12px;
      }
    }
    /****** Profile Image (768) ******/
    .thumbnail-image {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      position: absolute;
      top: 0;
      right: -100px;
      z-index: 1;
      img {
        height: $headerHeight;
        width: auto;
      }
    } // end profile image (768)

    /****** Team Bio (768) ******/
    .team-bio {
      position: relative;
      &::after {
        width: 2px;
        height: 233px;
        position: absolute;
        right: 0;
        top: 5px;
        margin: 0;
      }
    }
    /****** Aside (fav things and nav) (768+) ******/
    aside {
      margin-top: 0;
    }
  } // end single team (768)
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {
  .single-team {
    /****** Header (992) ******/
    $headerHeight: 500px;
    .page-header {
      height: $headerHeight;
      .container {
        height: $headerHeight;
      }
    }
    .thumbnail-image {
      right: -20px;
      img {
        height: $headerHeight;
        width: auto;
      }
    }

    /****** Bio Section (992) ******/
    .team-bio {
      padding-right: 30px;
    }

    /****** Aside (fave things and nav 992+) ******/
    aside {
      padding-left: 30px;
    }
  }
} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .single-team {

    /****** Header (1200) ******/
    .page-header {
      .container {
        position: relative;
      }
    }
    .thumbnail-image {
      right: 60px;
    }

  } // single team (1200 +)

} // 1200+

/******************************************************************************
========================> 1520+
*******************************************************************************/

@media(min-width: $screen-xl) {

  .single-team {
    $headerHeight: 630px;
    .page-header {
      height: $headerHeight;
      .container {
        height: $headerHeight;
      }
    }
    .team-info {
      width: 40%;
    }
    .thumbnail-image {
      right: 115px;
      img {
        height: $headerHeight;
      }
    }
  }
} // 1520+
