.single-projects {

  .wrap[role="document"] {
    margin-top: 0;
  }

  // styles for the client logo and tags
  // these only appear on the project single view so it seemed more
  // appropriate to include them here, rather than with the hero module
  .module-video-hero {
    .project-info {
      img {
        width: 85px;
      }
    }
    // end project info
    .project-type {
      margin: ($paddingLarge/2) 0;
      li {
        color: $white;
        + li {
          &::before {
            content: "|";
            color: $brand-primary;
            padding-right: 5px;
          }
        }
      }
    }
    // end project type
  }
  // end video hero

  .bg-ltgray {
    background: $gray-light;
  }
  .bg-white {
    background: $white;
  }
  .bg-red {
    background: $brand-primary;
  }
  .text-block {
    padding: $paddingLarge 0;
    text-align: center;
    h2 {
      text-align: center;
      margin: $paddingLarge 0;
      &::after {
        @include heading-accent();
      }
    }
    // end h2
  }
  // end text block

  .img-text-block {
    .block-content {
      padding: $paddingLarge 0;
      h2 {
        margin: $paddingLarge 0;
        &::after {
          @include heading-accent();
          margin-left: 0;
        }
      }
      // end h2
    }
    // end block content
  }
  // end image text block
  .banner-block {

    padding: $paddingLarge 0;
    margin: $paddingLarge 0;

    .banner-image {
      margin: 0 auto;
    }

  }

  /****** Previous / Next Projects ******/
  .prev-next-posts {

    position: relative;
    .post-nav {

      position: relative;
      background-size: cover !important;

      &::after {
        content: "";
        background: rgba($black, 0.5);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        @include transition(opacity, .26s);
      }

      &:hover {
        &::after {
          background: rgba($black, 0.75);
        }
      }

      .post-nav-inner {
        width: 100%;
        height: 100%;
        text-align: center;
      }

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $white;
        position: relative;
        z-index: 3;
        padding: $paddingLarge;
        &:hover {
          text-decoration: none;
        }
      }

      @media(max-width: $screen-xs) {
        float: none;
        width: 100%;
      }
    }
  }
}

// end single projects

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .single-projects {

    .bg-ltgray {
      background: $gray-light;
      // @mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%)
    }
    .bg-white {
      background: $white;
    }
    .bg-red {
      background: $brand-primary;
    }

    .img-text-block {

      overflow-x: hidden;
      padding-top: $paddingLarge;
      padding-bottom: $paddingLarge;

      .row {
        display: flex;
        position: relative;
      }
      &.img-left {
        .image-container {
          .thumbnail-image img {
            left: 0;
          }
        }
        .content-container {
        }
      }
      &.img-right {
        .image-container {
          order: 2;
          img {
            right: 0;
          }
        }
        .content-container {
          order: 1;
        }
      }
      // end image right
      .image-container {

        overflow: hidden;

        position: relative;
        .thumbnail-image {
          height: 100%;
          position: relative;
          img {
            height: auto;
            width: auto;
            max-width: unset;
            max-height: 100%;
            position: absolute;
          }
        }
      }
      // end image container

      .block-content {
        padding: 5px 0;
      }
    }
    // end img text block
    .prev-next-posts {
      .post-nav a {
        padding: ($paddingLarge * 2) $paddingLarge;
      }
      .prev-post .post-nav-inner {
        text-align: left;
      }
      .next-post .post-nav-inner {
        text-align: right;
      }
    }
  }
  // end single projects
}

// 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .single-projects {

    .text-block,
    .testimonial-container {
      padding: ($paddingLarge * 2) $paddingLarge;
    }

    .text-block {
      .block-content {
        padding: $paddingLarge;
      }
    }
    // end text block
    .img-text-block {
      .block-content {

      }
      .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    // end img-text-block
    .prev-next-posts {
      .post-nav a {
        padding: ($paddingLarge * 2);
      }
    }
  }
  // end single projects at 992
}

// 992+


