// Work Archive - -
// Note:::::: >  Most (if not all) of the styles for the project "covers" (thumbnails)
// can be found in the layouts/modules/module-home-projects file. The layout and functionality
// are identical. This file will cover styling for the our clients section as well as any
// additional styling for the project covers which may deviate from that used on the home page.
// This ends up looking weird if there are less items than the grid calls for.
// todo-jimmy set grid up so it looks good with any amount of logos

.page-template-template-work {

  .work-intro {
    max-width: $container-sm;
    margin: 0 auto $paddingLarge;
  }

  .clients-list {
    margin: ($paddingLarge * 2) 0;

    .container {
      max-width: $container-sm;
    }

    h2 {
      text-align: center;
      margin-bottom: ($paddingLarge * 2);
      &::after {
        @include heading-accent();
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      // remove clearfix on row element because it breaks flexbox
      // in Safari
      &::after,
      &::before {
        display: none;
      }
    }
    .client-logo {
      border-left: 1px solid lighten($darkGray, 25%);
      border-top: 1px solid lighten($darkGray, 25%);
    }
    .thumbnail-image {
      padding: $paddingLarge;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      img {
        max-height: 100px;
        max-width: 100%;
        width: auto;
      }
    }
    // end thumbnail image
  }
  // end clients list
}
// end work page template

/******************************************************************************
========================> < less than 768  ((768 - 1) only)
*******************************************************************************/

@media(max-width: $screen-xs-max) {

  .page-template-template-work {
    // grid border styles for 2 up
    // these nth child styles remove top borders from the first 2
    // and left borders from the items on the left
    .clients-list {
      .client-logo {
        // select the first 2 items
        &:nth-child(-n+2) {
          border-top-color: transparent;
        }
        // select the first item, then every third
        &:nth-child(2n+1) {
          border-left-color: transparent;
        }
      }
      // end client logo
    }
    // end clients list
  }
  // end work template under 768
}
// End less than 768

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .page-template-template-work {
    // grid border styles for 3 up
    // these nth child styles remove top borders from the first 3
    // and left borders from the items on the left  (every third starting with the left)
    .clients-list {
      .client-logo {
        // select the first 2 items
        &:nth-child(-n+3) {
          border-top-color: transparent;
        }
        // select the first item, then every third
        &:nth-child(3n+1) {
          border-left-color: transparent;
        }
      }
      // end client logo
    }
    // end clients list
  }
  // end work page template at 768
}
// end 768+
